{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
<div class="p-8">
    <h1 class="text-xl font-bold text-slate-800 tracking-tight uppercase mb-6">Modifier un categorie</h1>

    {{ include('admin/categorie/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}
